-html, body {
  color: #000;
  background: #fff;
  font-family: Arial, sans-serif;
  font-size: 15px;
  overflow: auto; 
  height: 100%;
  margin: 0;
}

a:link {text-decoration: none; }
a:visited { color: black;}
a:hover {text-decoration: none; }
a:active { color: black}


h1 {
  font-size: 25px; 
  font-weight: bold;
  color: #333; 
  padding: 0px;
  margin: 0px;
  display: inline-block;
}

h2 {
  font-size: 20px; 
  font-weight: bold;
  color: #333; 
  padding: 0px;
  margin: 0px;
}

h3 {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.6;
  margin: 0px;
}

h4 {
  font-size: 20px;
  font-weight: heavy;
  margin: 0px;
  padding: 0px;
}


h3 a:link { color: black; }
h3 a:hover { text-decoration: underline; color: black; }

#map { 
  height: 400px; 
  width: 900px; 
}

.container {
  display: block;
  margin: 0 auto;
  width: 900px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.courseaboutcontainer {
    font-size: 20px;
    display: block;
    text-align: center;
    line-height: 1.6;
}

.courseaboutcontainer a:link {   color: black; }
.courseaboutcontainer a:hover { text-decoration: none; }

.aboutcontainer a:link {   color: black; background-color: #ffe600ce; }
.aboutcontainer a:visited { color: black; }
.aboutcontainer a:hover { text-decoration: underline; }
.aboutcontainer a:active { }


.courseheader {
  justify-content: left;
  position: relative;
}

.coursenavigation {
  font-size: 18px;
  text-align: left;
  display: inline-block;
  color: rgb(0, 0, 0);
  margin: 13px 15px 0px 0px;  
  justify-content: left;
}

.coursenavigation a:link {
text-decoration: none;
color: rgb(0, 0, 0);
} 

.coursenavigation a:hover {
  text-decoration: none;
  color: rgb(59, 59, 59);
}

.coursenavigation a:active {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

.coursenavigation a:visited {
  text-decoration: none;
  color: rgb(0, 0, 0);
}


.projectcontainer {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Set the height of the container to 100% of the viewport height */
}

.coursecontainer {
  margin: 50px auto;
  max-width: 1000px;
}




.leaflet-control {
  cursor: auto;
  text-align: left;

}