-html, body {
  color: #000;
  background: #fff;
  font-family: Arial, sans-serif;
  font-size: 15px;
  overflow: auto; 
  height: 100%;
  margin: 0;
}

a:link {text-decoration: none; }
a:visited { color: black;}
a:hover {text-decoration: none; }
a:active { color: black}


h1 {
  font-size: 25px; 
  font-weight: bold;
  color: #333; 
  padding: 0px;
  margin: 0px;
  display: inline-block;
  background-color: #ffe600ce;
}

h2 {
  font-size: 20px; 
  font-weight: bold;
  color: #333; 
  padding: 0px;
  margin: 0px;
}

h3 {
  font-size: 20px;
  font-weight: normal;
  margin: 0px;
}

h4 {
  font-size: 20px;
  font-weight: heavy;
  margin: 0px;
  padding: 0px;
}


h3 a:link { color: black; background-color: #ffe600ce;}
h3 a:hover { text-decoration: underline; color: black; background-color: #ffe600ce;}

.header {
  display: flex;
  justify-content: left;
  margin: 0;
  padding: 10px 10px;
  border-bottom: 1px solid black;
  position: relative;
  z-index: 1;
  background: rgb(255, 229, 198);

}

.navigation {
  font-size: 20px;
  text-align: left;
  color: black;
  margin: 0px 30px 0px 10px;
  cursor: pointer;
  display: inline-block;
    align-content: bottom;
}



#map {
    height: 88vh;
border-radius: 8px;
    margin: 20px;

}

.navigation a:link {
  text-decoration: none; 
  color: black;
}

.navigation a:active{
  text-decoration: none; 
  color: black;
}

.navigation a:selected {
  text-decoration: none; 
  color: black;
}

.navigation a.current-page,
.navigation #projectsLink.current-page {

}


.navigation:hover { color: black;     
    background-color: #ff00f680;
}

.hidden-projects {
  display: none; /* Initially hide the projects */
  font-size: 20px;
}

.hidden-projects a.current-page {
    background-color: #ff00f680;
  /* Add any other styling you want for the current page or button */
}

.hidden-projects a {
    display: inline-block;
    text-decoration: none;
    color: black;
    margin-right: 20px;

}

.hidden-projects a:hover {
    background-color: #ff00f680;

}

.hidden-projects a:active {
    background-color: #ff00f680;

}

.hidden-projects a:selected {
    background-color: #ff00f680;

}




.courseheader {
  justify-content: left;
  position: relative;
  
}

.coursenavigation {
  font-size: 20px;
  text-align: left;
    display: inline-block;
  color: black;
  padding: 5px 10px;
margin: 13px 15px 0px 0px;  
    background: rgb(237, 237, 237);
  border-radius: 4px;
  border: 1px solid black;
  justify-content: left;

}

.coursenavigation a:link {
text-decoration: none;

} 

.coursenavigation a:hover {
  text-decoration: none;
  background-color: #ffe600ce;
}


.coursenavigation a:active {
  text-decoration: underline;
  background-color: #ffe600ce;

}

.coursenavigation a:visited {
  text-decoration: none;
  background-color: #ffe600ce;

}


.projectcontainer {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Set the height of the container to 100% of the viewport height */

}

.coursecontainer {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Set the height of the container to 100% of the viewport height */
overflow: auto;
}

.container {
  display: block;
  margin: 30px auto;
  max-width: 900px;

}


.mapheader {
  display: block;
  background: #ffffff;
  border-bottom: 1px solid black;
  padding: 13px 0px;
}

.aboutcontainer {
  font-size: 20px;
  margin: 20px auto;
  padding: 5px 10px;
  display: block;
  text-align: center;
  line-height: 1.6;
}


.courseaboutcontainer {
    font-size: 20px;
    display: block;
    text-align: left;
    line-height: 1.6;
border: 1px solid black;
    margin: 20px;
    border-radius: 7px;
}


.courseaboutcontainer a:link {   color: black;
}

.courseaboutcontainer a:hover { text-decoration: none; }

.aboutcontainer a:link {   color: black; background-color: #ffe600ce;
}
.aboutcontainer a:visited { color: black; }
.aboutcontainer a:hover { text-decoration: underline; }
.aboutcontainer a:active { }



.mapsectionleft {
  flex-direction: row; /* Stack items vertically */
  padding: 10px 20px;
  font-size: 18px; 
  line-height: 1.3;
  align-items: center;
  justify-content: center;

}

.mapsectionleft a:link { color: black; text-decoration: underline;}
.mapsectionleft a:hover { color: black; text-decoration: underline;}
.mapsectionleft a:visited { color: black; text-decoration: underline;}
.mapsectionleft a:active { color: black; text-decoration: underline;}

.title { 
}

.subtitle {
}

.description {
}

.description a:link { color: black; }
.description a:visited { color: black; }
.description a:hover {  }


li {
margin-right: 10px;
}

li a {
background-color: #ffe600ce;
}

li a:hover {
  text-decoration: underline; 
}

li a:visited {
}


#legend {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#legend img {
  width: 25px;
  height: 41px;
  margin-right: 5px;
}


/* Target the legend container */
.leaflet-top.leaflet-left .info.legend {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    align-items: center;

}

/* Target the legend text */
.leaflet-top.leaflet-left .info.legend img {
  margin-bottom: 5px; /* Add spacing below the image */
}

/* Target the individual legend items */
.leaflet-top.leaflet-left .info.legend div {
  margin-bottom: 5px; /* Add spacing between legend items */
}

/* Target the red lines background color */
.leaflet-top.leaflet-left .info.legend div[style*="background-color: red;"] {
  background-color: blue; /* Override the background color for red lines */
  /* Add any other styles you want to apply */
}





.textbox {
    padding: 15px 20px;
    margin: 0px auto;
    border-radius: 4px;
    text-align: left;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 8px;
    line-height: 1.4;
    background: rgb(255, 229, 198);
}

.textbox a:link {
    color: black;
    background: none;
}

.textbox a:hover {
    text-decoration: underline;
}



.button {
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
}

.leaflet-touch .leaflet-bar a:first-child {
  border-top-right-radius: 2px;
  color: black;

}
.leaflet-touch .leaflet-bar a:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  color: black;
}

/* Style the scale control */
.leaflet-control-scale {
  background-color: rgba(255, 255, 255, 0.7); /* Background color */
  border: 1px solid #ccc; /* Border style */
  border-radius: 5px; /* Border radius */
  padding: 5px; /* Padding around the scale bar */
  font-size: 12px; /* Font size */
}


/* Styling for the layer control box */
.leaflet-control-layers {
  background-color: rgba(255, 255, 255, 0.9); /* Background color with opacity */
  border: 2px solid #ccc; /* Border color and width */
  border-radius: 5px; /* Rounded corners */
  padding: 10px; /* Padding inside the box */
  font-family: Arial, sans-serif; /* Font family */
  font-size: 14px; /* Font size */
  max-width: 250px; /* Maximum width of the box */
}

/* Styling for the layer control headings */
.leaflet-control-layers h4 {
  margin-top: 0; /* Remove top margin for headings */
  font-weight: bold; /* Bold text for headings */
}

/* Styling for the layer control labels */
.leaflet-control-layers label {
  display: block; /* Display labels as block elements */
  margin-bottom: 5px; /* Margin between labels */
}

/* Styling for the layer control switches */
.leaflet-control-layers input[type="checkbox"] {
  margin-right: 5px; /* Margin between the checkbox and label */
}

/* Styling for the checked checkboxes (active layers) */
.leaflet-control-layers input[type="checkbox"]:checked + label {
  font-weight: bold; /* Bold text for active layers */
  color: #0074D9; /* Change text color for active layers */
}

.leaflet-control-attribution svg {
  width:0
  }


/* Media query for smaller screens (mobile devices) */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }

  .navigation {
    font-size: 16px;
  }

  #map {
    margin: 10px;
  }

  .coursenavigation,
  .courseaboutcontainer,
  .textbox {
    font-size: 16px;
    padding: 10px;
  }
    
    .hidden-projects {
  display: none; /* Initially hide the projects */
  font-size: 16px;
        margin-left: 10px;
        margin-top: 5px;
        
}
    

.textbox {
    padding: 15px 20px;
    margin: 20px;
    border-radius: 4px;
    text-align: left;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 8px;
    line-height: 1.4;
    background: rgb(255, 229, 198);
}
    
h2 {
  font-size: 20px; 
  font-weight: bold;
  color: #333; 
  padding: 0px;
  margin: 20px;
}
    
    
}
